
.cover {
    padding: 50px 100px 0px;
    min-height: auto;
}
.column {
    width: 33.33%;
    min-height: 250px;
    float: left;

}
body {
    background: #59484f;
    display: flex;
    flex-direction: column;
}
.wrapper{
    margin: 30px;
    padding-bottom: 10px;
}

.wrapper img {
    width: 100%;
}

.column .wrapper:hover{
    transform: scale(1.15);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
    transition: 0.5s;
}

@media print {
    .cover{
        min-height: auto;
    }
}