
h1 {
    color: white;
    text-align: center;
    font-family: 'Open Sans', serif;
}

body {
    display: flex;
    flex-direction: column;
}

.list {
    padding-bottom: 20px;
}

.lists {
    padding-bottom: 10px;
}

.img-container {
    height: 300px;
    position: relative;
    overflow: hidden;
    background: url("img1.png") no-repeat center;
    background-size: cover;
}

.container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    min-height: 80vh;
    padding: 10px 40px 40px 40px;
}

.containerL {
    flex: 3;
    padding: 30px;
}

.containerR{
    flex: 1;
    padding: 30px;
}
.container .containerR ul {
    padding: 20px;
    border-radius: 5px;
    list-style: none;
}

.container .containerL article {
    padding: 20px;
}

.container .containerL h2 {
    padding: 20px;
}

@media (max-width: 768px){
    .container{
        flex-direction: column;
    }
}

@media print {
    .img-container{
        height: 0;
    }
    .container{
        min-height: auto;
    }
    header h1{
        color: #000;
    }
    .nav_links li,a{
        color: #000;
    }

}




