
body {
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    min-height: 80vh;
}

main h2{
    text-align: center;
    margin: 40px;
}
.containerL{
    flex: 1;
    padding: 30px;
}
.containerL .pic {
    float: left;
    margin: 20px 20px 20px 40px;
}
.containerR{
    flex: 2;
    padding: 30px;
}

.containerR p {
   float: right;
}

.containerR ul {
    float: left;
    list-style: none;
    margin-right: 20px;
    margin-bottom: 20px;
}

.list {
    padding-bottom: 20px;
}


@media screen and (max-width: 768px){
    .container{
        flex-direction: column-reverse;
    }
}

@media print {
    .container{
        min-height: auto;
        flex-direction: column-reverse;
    }
    header h1{
        color: #000;
    }
    .nav_links li,a{
        color: #000;
    }

}
