
.cover {
    padding: 50px 50px;
    min-height: 80vh;
}
.column {
    width: 33.33%;
    min-height: 250px;
    float: left;

}
body {
    background: #59484f;
    display: flex;
    flex-direction: column;
}
.wrapper{
    margin: 30px;
    padding-bottom: 20px;
}

.wrapper img {
    width: 100%;
}

.column .wrapper:hover{
    transform: scale(1.15);
    transition: 0.5s;
}

