
section {
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: #59484f;
}

section .container {
    padding-top: 40px;
}

section .container .kontakt {
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section .container .kontakt h2 {
    color: #fff;
    font-size: 30px;
}

section .container .kontakt .info {
    position: relative;
    margin: 20px 0;

}

section .container .kontakt .info li {
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;

}


section .container .kontakt .info li span .fa {
    font-size: 80px;
    line-height: 60px;
    color: #fff;
    margin-top: 30px;
}


section .container .kontakt .info li span:nth-child(2) {
    color: #fff;
    margin-top: 45px;
    margin-left: 20px;
}


section .container .kontakt .social {
    position: relative;
    display: flex;
    margin-top: 40px;
}

section .container .kontakt .social li {
    list-style: none;
    margin-right: 30px;
    cursor: pointer;
}

section .container .kontakt .social li a {
    text-decoration: none;
}

section .container .kontakt .social li .fa {
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    margin-left: 40px;
}

section .container .kontakt .social li .fa:hover {
    transform: scale(1.15);
    transition: 0.5s;
}



