
h1 {
    color: white;
    text-align: center;
    font-family: 'Open Sans', serif;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    min-height: 100vh;
}


.container .containerR h2 {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.container .containerR article {
    margin: 0 auto;
    float: left;
    width: 800px;
    padding: 20px;
    border-radius: 5px;
}

.container .containerR ul {
    float: right;
    width: 300px;
    background: #59484f;
    padding: 20px;
    border-radius: 5px;
    list-style: none;
}

.container .containerR ul li {
    color: white;
    margin-bottom: 5px;
}







